@import 'abstracts/abstracts';
@import 'base/base';
@import 'blocks/blocks';
@import 'layout/layout';

.dev {
	display: none !important;
}

.home .md-testimonial.list-standard .mg-more {
	position: absolute;
}

.home .house-grid-item.template4 .mask .house-detail {background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.4) 25%, rgba(0,0,0,0.8) 100%);}

.md-gallery.standard:after {content: "";display: block;width: 100%;height: 100%;position: absolute;z-index: 9;left: 0;top: 0;}
.md-gallery.standard .img-box {max-width:300px;margin:0 auto;}
.md-gallery.standard .img-box img {-o-object-fit: contain;object-fit: contain;font-family: "object-fit: contain";}

.flex {display: flex;}
.flex-wrap {flex-wrap: wrap;}
.flex-left {justify-content: flex-start;}
.flex-center {justify-content: center;}
.flex-right {justify-content: flex-end;}
.flex-top {align-items: flex-start;}
.flex-middle {align-items: center;}
.flex-bottom {align-items: flex-end;}

.richtext p {
	margin-bottom: 1rem;
	line-height: 1.5;
	font-size: 16px;
}

.richtext p:last-child {
	margin-bottom: 0;
}

.rich-text-content-title {
	letter-spacing: 0.07em;
}

@media only screen and (max-width: 800px) {.house-grid.gallery a.house-grid-item:last-of-type {
   display: none;
}}
.page-content>.md-house.gallery.template4,
.home .page-content {background: #000;}

.md-lead-form.standard .media-content .title-text{    background-color: rgba(0,0,0,0.6) !important;     padding: 21px !important;}

.md-header.fashion .header-container .menu-item {
	letter-spacing: 0.07em;
}

.header-container:not(:only-child) {
	.header-bg {
		opacity: 1 !important;
	}
}

.md-header.fashion .header-container .head-account .menu-item {
  border-color: #FFC03A !important;
  color: #FFC03A; 
}

@media (min-width: 800px){
.md-team-desc.team-desc-simple .desc-content .description {padding: 180px 0 !important;background-color: rgba(1,1,1,0.5);width: 100%;}
}

.customize-banner{width: 30% !important;min-width: 300px;}

.customize-content-words{width:50% !important; }

.custo-page{justify-content: space-between !important;}

@media (min-width: 1081px){
.banner .media-content .search-bar.template4 {background-color: rgba(0,0,0,0.7) !important;}
.md-hero.template4 .media-content .media-info .title-text .media-title,
.md-hero.template4 .media-content .media-info .title-text .media-subtitle {text-shadow: 0 3px 6px rgba(0,0,0,0.5);}

.media-content.row .media-info {margin-right: 32px;}
.media-content.row .media-info .media-subtitle {max-width: 700px;}
}

.home .md-cta-sc.standard .single-picture,
.home .md-banner.standard .single-picture {background-attachment: fixed;}

.home .page-content .md-featured-area,
.home .page-content .md-team,
.home .page-content .md-testimonial {padding-top: 60px;}

.home .page-content .md-house.template4 .house-detail .house-status.new {background-color: #FFC03A;}

.home .page-content>*:nth-of-type(even),
.home .page-content>*:nth-of-type(odd) {background-color: black;}

@media (min-width: 1081px){
.home .md-featured-area.grid-fashion .mg-container {width: 1200px;}
.home .md-featured-area.grid-fashion .style-container .city-wrapper {width: 25%;}
.home .md-featured-area.grid-fashion .city-wrapper:nth-of-type(9n) {display: none !important;}
}

.home .md-team.carousel-fashion .agents-container .agent-list .agent-item .agent-main .name {font-size: 18px;}

.home .house-grid-item.template1 {border: none;border-radius:0; background: #FFF;}

.house-grid-item.template4 .mask .house-detail .house-basic .vertical-line:after {content: "\00a0";}

.md-featured-area.grid-fashion .style-container .city-style .mask {width: 100% !important;}

.md-featured-area.grid-fashion .style-container .city-style .info .pc-content {right: auto !important;}

.md-testimonial.list-standard .comment-list-wrap .comment-list .odd .testimonial-picture {margin-right: 0 !important;}

.banner-button {
	&:empty {
		display: none !important;
	}
}

.md-cta-tc-sc.standard {
	.copy-column {
		.title,
		.desc {
			text-overflow: initial;
		}
	}
}

.copy-content {
	p {
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
}

.banner {
	.single-picture[title^='parallax'] {
		background-attachment: fixed;
	}
}