.dev {
	display: none !important;
}

.home .md-testimonial.list-standard .mg-more {
	position: absolute;
}

.home .house-grid-item.template4 .mask .house-detail {background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.4) 25%, rgba(0,0,0,0.8) 100%);}

.md-gallery.standard {pointer-events:none;}
.md-gallery.standard .img-box {max-width:300px;margin:0 auto;}
.md-gallery.standard .img-box img {-o-object-fit: contain;object-fit: contain;font-family: "object-fit: contain";}
