@use "sass:math";
.page--buyers {
    @media (max-width: $breakpoint-l - 1) {
        .stats {
            padding: 0;
        }
        .stat {
            margin: 0 !important;

            &__inner {
                padding: 24px 0;
            }
        }
    }
    @media (min-width: $breakpoint-l) {
        .stats {
            font-size: 20px;
        }
    }
    #what_is_agency {
        @media (min-width: $breakpoint-l) {
            .uk-slider {
                margin-left: -1px;
            }
        }
        @media (max-width: $breakpoint-l - 1) {
            .uk-slider-items {
                & > div {
                    min-height: 70vw;
                }
            }
        }
    }
    #non-negotiables {
        & > div {
            @media (min-width: $breakpoint-s) {
                min-height: 110px;
            }
        }
    }
    #contract_negotiation {
        .rs-tab__navigation {
            position: relative;
            z-index: 3;

            li {
                transition: all 0.4s;

                @for $i from 1 to 9 {
                    &:nth-child(#{$i}) {
                        transition-delay: 300ms * $i;
                    }                        
                }
            }
        }
        .rs-tab__content {
            #contingencies {
                transition: all 1s ease 1.6s;
            }
        }
        &:not(.uk-scrollspy-inview) {
            .rs-tab__navigation {
                li {
                    opacity: 0;
                    transform: translateX(-20px);

                    &.uk-active {
                        &:after {
                            border-left-width: 0 !important;
                        }
                    }
                }
            }
            .rs-tab__content {
                overflow: hidden;

                #contingencies {
                    transform: translateY(-100%);
                }
            }
        } 
    }
    #website_tools {
        .tool {
            &__image {
                width: 80px;
                background-image: url("https://vividsites-realtyshop.github.io/realtyshopstl/img/buy-property-selection.png");
                background-repeat: no-repeat;
                background-size: cover;

                &:before {
                    content: "";
                    display: block;
                    width: 100%;
                    padding-bottom: 100%;
                }

                &--save {
                    background-position-y: 0;
                }

                &--follow {
                    background-position-y: 100%;
                }
            }
        }
    }
    #pre_approval {
        .uk-card {
            .before--content {
                padding-left: 40px;

                &:before {
                    background: var(--color-theme);
                    font-size: 18px;
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }
            }
        }

        // .column {
        //     .section__heading,
        //     .section__separator,
        //     .section__text {
        //         transition: all 0.4s;
        //     }

        //     .section__separator {
        //         transition: all 0.4s ease 0.6s;
        //     }

        //     .section__text {
        //         transition: all 0.7s ease 1s;
        //     }

        //     .section__buttons {
        //         & > .uk-grid {
        //             & > div {
        //                 &:first-of-type {
        //                     transition: all 0.7s ease 2s;
        //                 }
    
        //                 &:last-of-type {
        //                     transition: all 0.7s ease 2.3s;
        //                 }
        //             }
        //         }
        //     }

        //     &:not(.uk-scrollspy-inview) {
        //         .section__heading {
        //             transform: translateX(-100px);
        //             opacity: 0;
        //         }

        //         .section__separator {
        //             opacity: 0;
        //         }

        //         .section__text {
        //             transform: translateX(-100px);
        //             opacity: 0;
        //         }

        //         .section__buttons {
        //             .uk-grid {
        //                 & > div {
        //                     opacity: 0;
        //                 }
        //             }
        //         }
        //     }
        // }

        .uk-card--down-arrow {
            &:not(.uk-scrollspy-inview) {
                &:after {
                    opacity: 0;
                    bottom: 0;
                }
            }
        }
        .vs {
            position: relative;

            & > div {
                &:first-of-type {
                    padding-bottom: 2px;

                    & > div {
                        background: #bcbcbc;
                    }

                    @media (min-width: $breakpoint-s) {
                        padding-bottom: 0;
                        padding-right: 2px;
                    }
                }
                &:last-of-type {
                    padding-top: 2px;

                    & > div {
                        background: #a1a1a1;
                    }

                    @media (min-width: $breakpoint-s) {
                        padding-top: 0;
                        padding-left: 2px;
                    }
                }
            }

            .icon--vs {
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                
                @media (min-width: $breakpoint-s) {
                    position: absolute;
                }

                &:before,
                &:after {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                }
                &:before {
                    content: "";
                    display: block;
                    background: #000;
                    width: 40px;
                    height: 40px;
                    transform: translate(-50%, -50%) rotate(45deg);
                }
                &:after {
                    content: "vs";
                    display: block;
                    font-family: var(--font-title);
                    font-size: 24px;
                    color: #fff;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}