@use "sass:math";
.page--buyers {
    @media (max-width: $breakpoint-l - 1) {
        .stats {
            padding: 0;
        }
        .stat {
            margin: 0 !important;

            &__inner {
                padding: 24px 0;
            }
        }
    }
    @media (min-width: $breakpoint-l) {
        .stats {
            font-size: 20px;
        }
    }
    #pre_approval {
        .uk-card {
            .before--content {
                padding-left: 40px;

                &:before {
                    background: var(--color-theme);
                    font-size: 18px;
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }
            }
        }

        // .column {
        //     .section__heading,
        //     .section__separator,
        //     .section__text {
        //         transition: all 0.4s;
        //     }

        //     .section__separator {
        //         transition: all 0.4s ease 0.6s;
        //     }

        //     .section__text {
        //         transition: all 0.7s ease 1s;
        //     }

        //     .section__buttons {
        //         & > .uk-grid {
        //             & > div {
        //                 &:first-of-type {
        //                     transition: all 0.7s ease 2s;
        //                 }
    
        //                 &:last-of-type {
        //                     transition: all 0.7s ease 2.3s;
        //                 }
        //             }
        //         }
        //     }

        //     &:not(.uk-scrollspy-inview) {
        //         .section__heading {
        //             transform: translateX(-100px);
        //             opacity: 0;
        //         }

        //         .section__separator {
        //             opacity: 0;
        //         }

        //         .section__text {
        //             transform: translateX(-100px);
        //             opacity: 0;
        //         }

        //         .section__buttons {
        //             .uk-grid {
        //                 & > div {
        //                     opacity: 0;
        //                 }
        //             }
        //         }
        //     }
        // }

        .uk-card--down-arrow {
            &:not(.uk-scrollspy-inview) {
                &:after {
                    opacity: 0;
                    bottom: 0;
                }
            }
        }
        .vs {
            position: relative;

            & > div {
                &:first-of-type {
                    padding-bottom: 2px;

                    & > div {
                        background: #bcbcbc;
                    }

                    @media (min-width: $breakpoint-s) {
                        padding-bottom: 0;
                        padding-right: 2px;
                    }
                }
                &:last-of-type {
                    padding-top: 2px;

                    & > div {
                        background: #a1a1a1;
                    }

                    @media (min-width: $breakpoint-s) {
                        padding-top: 0;
                        padding-left: 2px;
                    }
                }
            }

            .icon--vs {
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                
                @media (min-width: $breakpoint-s) {
                    position: absolute;
                }

                &:before,
                &:after {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                }
                &:before {
                    content: "";
                    display: block;
                    background: #000;
                    width: 40px;
                    height: 40px;
                    transform: translate(-50%, -50%) rotate(45deg);
                }
                &:after {
                    content: "vs";
                    display: block;
                    font-family: var(--font-title);
                    font-size: 24px;
                    color: #fff;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
    .cta-trio {
        padding: 4px;

        & > .uk-grid-margin {
            margin-top: 4px !important;
        }
    }
}