.neighborhood {
    .page-content.template4 {
        .mg-title {
            font-size: 36px;
        }
        .md-sidebar.fashion {
            padding: 15px 15px 15px 10px;
            border: none;
            box-shadow: 3px 2px 6px 0px rgba(0,0,0,0.1);

            .sidebar-item {
                height: 40px;
                
                &:not(.selected) {
                    color: #bbb;
                }

                .text {
                    font-family: var(--font-title);
                }
            }
            
            .collapse-btn {
                box-shadow: inherit;

                .icon-expand {
                    &:before {
                        color: #bbb;
                    }
                }
            }
        }
        .md-nbr-info {
            background: #000;
    
            .info-container {
                padding: 15px 0;

                .left-box {
                    display: flex;
                    flex-wrap: wrap;
                    padding: 15px 0;

                    .info-content,
                    .name {
                        font-family: var(--font-title);
                        font-size: 48px;
                        font-weight: normal;
                        color: #fff;
                        margin-bottom: 0;

                        @media (max-width: 1000px) {
                            font-size: calc(18px + 3vw);
                        }
                    }
    
                    .info-content {
                        line-height: normal;
    
                        &:before {
                            content: ', ';
                        }

                        span {
                            &:last-child {
                                &:after {
                                    display: none;
                                }
                            }
                        }
                    }
    
                    .name {
                        margin-top: 0;
                        order: -1;
                        line-height: normal;
                    }
                }
    
                .info-dec {
                    color: #fff;
                    @media (max-width: 600px) {
                        margin-top: 20px;
                    }

                    .more-btn {
                        font-family: var(--font-title);
                        font-size: 16px;
                        margin-top: 0.25em;
                    }
                }
    
                .right-box {
                    .item {
                        @media (max-width: 600px) {
                            margin: 20px 0;
                            text-align: left;
                        }

                        .title {
                            color: #fff;
                        }

                        .content {
                            font-size: 36px;
                            font-family: var(--font-title);

                            @media (max-width: 1000px) {
                                font-size: calc(16px + 2vw);
                            }
                        }
                    }
                }
            }
        }

        .md-house {
            .mg-more {
                font-family: var(--font-title);
                font-weight: normal;
                font-size: 16px;
                letter-spacing: var(--mg-title-letter-spacing);
                background: transparent;
                color: var(--color-theme);
                border: solid 1px var(--color-theme);
                height: auto;
                line-height: normal;
                padding: 8px 12px;
                max-width: 200px;
            }
        }
    
        // .md-map {
        //     .map-tab {
        //         .tab-header {
        //             background-color: #000;
    
        //             .item {
        //                 &:not(.active) {
        //                     color: #fff;
        //                 }
        //             }
        //         }
    
        //         .tab-collapse {
        //             .icon-expand {
        //                 background-color: #000;
    
        //                 &:before {
        //                     color: #fff;
        //                 }
        //             }
        //         }
    
        //         .tab-body {
        //             background-color: #000;
        //         }
        //     }
        // }
    
        .md-market-trends {
            .container {
                padding: 60px 0;
            }
        }
    }
}