.display {
    &-block {
        display: block;
        &\@xs {
            @media (min-width: $breakpoint-xs) {
                display: block !important;
            }
        }
        &\@s {
            @media (min-width: $breakpoint-s) {
                display: block !important;
            }
        }
        &\@m {
            @media (min-width: $breakpoint-m) {
                display: block !important;
            }
        }
        &\@l {
            @media (min-width: $breakpoint-l) {
                display: block !important;
            }
        }
    }
    &-inline-block {
        display: inline-block;
        &\@s {
            @media (min-width: $breakpoint-s) {
                display: inline-block !important;
            }
        }
        &\@m {
            @media (min-width: $breakpoint-m) {
                display: inline-block !important;
            }
        }
        &\@l {
            @media (min-width: $breakpoint-l) {
                display: inline-block !important;
            }
        }
    }
    &-none {
        display: none;
        &\@s {
            @media (min-width: $breakpoint-s) {
                display: none !important;
            }
        }
        &\@m {
            @media (min-width: $breakpoint-m) {
                display: none !important;
            }
        }
        &\@l {
            @media (min-width: $breakpoint-l) {
                display: none !important;
            }
        }
    }
}