footer {
    .site-logo {
        img {
            height: auto !important;
            max-height: 2.5em;
        }

        & + .co-name {
            visibility: hidden;
        }
    }

    .detail-info {
        .detail-phone {
            .text {
                &:after {
                    content: "314-372-0324";
                    display: block;
                }
            }
        }
    }
}