body.has-uikit {
    .uk-grid {
        $xs: 8px;
        &-xsmall {
            margin-left: -$xs;
    
            & > * {
                padding-left: $xs;
            }

            & > .uk-grid-margin {
                margin-top: $xs;
            }
        }
    
        // & + .uk-grid {
        //     &-xsmall {
        //         margin-top: $xs;
        //     }
        // }
    }
}

.rs-grid {
    $xs: 8px;
    $s: 12px;

    &-xsmall {
        margin-left: -$xs;
        margin-right: -$xs;

        & > * {
            padding: $xs;
        }
    }

    &-small {
        margin-left: -$s !important;
        margin-right: -$s !important;

        & > * {
            padding: $s;
        }
    }
}