header {
    .head-menu {
        .submenu {
            background: #222;

            .menu-item {
                font-size: 15px;
                line-height: 2.5em;
                height: 2.5em;

                a {
                    transition: all 0.2s;
                    
                    &:hover {
                        background: #000 !important;
                    }
                }
            }
        }
    }
    .head-account {
        .menu-item {
            transition: $transition;

            &:hover {
                background: var(--color-theme);
                color: #fff !important;
            }
        }
    }
}

.md-header.fashion .header-container .menu-item {
	letter-spacing: 0.07em;
}

main.hide-chat {
	.header-container:only-child {
		.header-bg {
			opacity: 0.7 !important;
		}
	}
}

.md-header.fashion .header-container .head-account .menu-item {
  border-color: #FFC03A !important;
  color: #FFC03A; 
}