header {
    z-index: 9000;

    .head-menu {
        .submenu {
            background: #222;

            .menu-item {
                font-size: 15px;
                line-height: 2.5em;
                height: 2.5em;

                a {
                    &:hover {
                        background: transparent !important;
                    }
                }
            }
        }
    }
    .head-account {
        .menu-item {
            transition: $transition;

            &:hover {
                background: var(--color-theme);
                color: #fff !important;
            }

            &.item-regist {
                display: none !important;
            }

            &.item-login {
                margin-left: 0 !important;
            }
        }
    }

    .header-placeholder {
        background: #000;
    }
}

.md-header.fashion {
    .header-container {
        .head-account {
            .menu-item {
                border-color: var(--color-theme) !important;
                color: var(--color-theme);
            }
        }
        .menu-item {
            letter-spacing: $title-letter-spacing;
        }
    }
    &.mobile {
        .header-container {
            .nav-container {
                background: rgba(0,0,0,0.7);
            }
        }
    }
}

main.hide-chat,
.md-header.fashion {
	.header-container {
		.header-bg {
			opacity: 0.7 !important;
		}
	}
}

