@each $size, $spacing in $sizes {
	.margin-#{$size} {
		margin: $spacing;
	}
	
	.margin-y-#{$size} {
		margin-top: $spacing;
		margin-bottom: $spacing;
	}

	.margin-x-#{$size} {
		margin-left: $spacing;
		margin-right: $spacing;
	}

	@each $side in $sides {
		.margin-#{$side}-#{$size} {
			margin-#{$side}: $spacing;
		}
	}

	@each $label, $breakpoint in $breakpoints {
		@media ( min-width: $breakpoint ) {
			.margin-#{$size}\@#{$label} {
				margin: $spacing;
			}

			.margin-y-#{$size}\@#{$label} {
				margin-top: $spacing;
				margin-bottom: $spacing;
			}

			.margin-x-#{$size}\@#{$label} {
				margin-left: $spacing;
				margin-right: $spacing;
			}

			@each $side in $sides {
				.margin-#{$side}-#{$size}\@#{$label} {
					margin-#{$side}: $spacing;
				}
			}
		}
	}
}

.margin-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}
