@use "sass:math";
.before {
	&:before {
		content: '';
		display: block;
		width: 100%;
	}

	@for $i from 4 to 8 {
		$val: $i * 10;
		$dec: math.div($i, 10);
		&--#{$val} {
			@extend .before;
			
			&:before {
				padding-bottom: percentage($dec);
			}
		}
	}

	&--square {
		&:before {
			padding-bottom: 100%;
		}
	}

	&--circle {
		border-radius: 100%;
		&:before {
			padding-bottom: 100%;
		}
	}

	&--video {
		&:before {
			padding-bottom: 56.25%;
		}
	}
}

.after {
	&:after {
		content: '';
		display: block;
		width: 100%;
	}

	&--square {
		&:after {
			padding-bottom: 100%;
		}
	}
}

@each $label, $breakpoint in $breakpoints {
	.before\@#{$label} {
		@media ( min-width: $breakpoint ) {
			&:before {
				content: '';
				display: block;
				width: 100%;
			}
		}
	}

	.after\@#{$label} {
		@media ( min-width: $breakpoint ) {
			&:after {
				content: '';
				display: block;
				width: 100%;
			}
		}
	}
}