.rs-button {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    background: $gold;
    color: #fff !important;
    padding: 0.75rem 2rem !important;
    text-transform: uppercase;
    text-align: center;
    border-radius: 0;
    height: auto !important;
    width: auto;
    line-height: initial !important;

    &:hover {
        background: darken($gold, 10%);
    }

    &--outline {
        background: transparent;
        border: solid 1px #fff;

        &:hover {
            background: transparent;
        }
    }
}