.rs-button {
    font-size: 14px;
    font-weight: normal;
    background: var(--color-theme);
    color: #fff !important;
    padding: 0.75rem 2rem !important;
    min-width: 240px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 0;
    height: auto;
    width: auto;
    line-height: initial;

    &--outline {
        background: transparent;
        border: solid 1px #fff;
    }
}