.rs-table {
    border-collapse:collapse;border-spacing:0;
    
    td,
    th {
        text-align:left;
        font-weight: normal;
        vertical-align:middle;
        -webkit-font-smoothing: antialiased;

        &:nth-of-type(2) {
            position: relative;

            &:before {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.7);
            }

            & > * {
                position: relative;
            }
        }
    }

    td {
        font-size:14px;
        overflow:hidden;
        padding: 6px;
        word-break:normal;
        line-height: 1.25;

        @media (max-width: $breakpoint-s) {
            font-size: 12px;
        }
    }
    
    th {
        overflow:hidden;
        word-break:normal;

        @media (max-width: 1000px) {
            padding: 20px calc(10px + 1vw);
        }
        
        &:not(:first-of-type) {
            text-align: center;
        }
    }
    tbody {
        tr {
            &:nth-of-type(odd) {
                background-color: #414141;
            }
        }
        td {
            &:first-of-type {
                padding: 10px 30px 12px 12px;

                @media (max-width: 500px) {
                    padding-left: 2.4vw;
                    padding-right: 10px;
                }
            }
        }
    }
}