.page-content {
    .md-content {
        $column_padding: 10px;
        $column_padding_m: 15px;
        $column_padding_l: 20px;

        .list {
            justify-content: center;

            .column {
                margin: 0;
                width: 100%;

                &-image {
                    height: auto;
                    padding-bottom: 80%;
                }
            }

            @media (min-width: 421px) {
                margin: -#{$column_padding};

                .column {
                    width: 50%;
                    padding: $column_padding;
                }
            }
            
            @media (min-width: 768px) {
                margin: -#{$column_padding_m};

                .column {
                    width: 33.33%;
                    padding: $column_padding_m;
                }
            }

            @media (min-width: $breakpoint-l) {
                margin: -#{$column_padding_l};

                .column {
                    padding: $column_padding_l;
                }
            }
        }
    }
}