.page-content {
    .md-content {
        $column_padding: 20px;
        $column_padding_s: 15px;

        .list {
            margin: -#{$column_padding_s};
            justify-content: center;

            .column {
                padding: $column_padding_s;
                margin: 0;
                width: 50%;

                &-image {
                    height: auto;
                    padding-bottom: 80%;
                }
            }

            @media (min-width: 768px) {
                .column {
                    width: 33.33%;
                }
            }

            @media (min-width: $breakpoint-l) {
                margin: -#{$column_padding};

                .column {
                    padding: $column_padding;
                }
            }
        }
    }
}