.page-content {
    .md-cta-sc {
        .media-content {
            .banner-button {
                .btn-item {
                    @extend .rs-button;
                }
            }
        }

        &.standard {
        }

        &.new {
            .media-content {
                .title-text {
                    padding-bottom: 32px;
                }
            }
        }
    }

    .md-cta-multiple-column {
        &.one-bg-two-column {
            .content {
                padding: 40px 30px;
                min-height: 0 !important;
                align-items: stretch;

                .left-card {
                    margin-right: 30px;

                    @media (min-width: 961px) {
                        margin-right: 40px;
                    }
                }

                .card {
                    height: auto !important;

                    .description {
                        color: $charcoal;
                        margin-bottom: 0;
                    }

                    .button {
                        &:first-child {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }

    header {
        & + .md-cta-tc-sc {
            @media (min-width: $breakpoint-s) {
                .copy-column {
                    padding-top: calc(#{$header-height} + 40px);
                    padding-bottom: 60px;
                }
            }
        }
    }

    .cta-trio {
        padding: 4px;

        & > .uk-grid-margin {
            margin-top: 4px !important;
        }
    }
}
