.rs-expandable  {
    &.uk-accordion,
    .uk-accordion {
        & > * {
            .uk-accordion-title {
                display: inline-block;
                position: relative;
                padding-right: 24px;

                &:before {
                    background: none;
                    border: solid 3px #000;
                    border-top: none;
                    border-left: none;
                    width: 6px;
                    height: 6px;
                    position: absolute;
                    top: 35%;
                    right: 4px;
                    transform: rotate(45deg);
                    margin-left: 0;
                    transition: all 0.3s;
                }
                &:after {
                    content: "See More";
                    font-size: 15px;
                    font-weight: 600;
                    color: #000;
                }
            }
            &.uk-open {
                .uk-accordion-title {
                    &:before {
                        top: 45%;
                        transform: rotate(-135deg);
                    }
                    &:after {
                        content: "See Less";
                    }
                }
            }
        }
    }
}