.page-content {
    .md-featured-area {
        &.grid-classic {
            .mg-container {
                width: 100%;
                padding-top: 36px !important;
            }

            .mg-title {
                font-size: 60px;
                color: #fff;

                @media (max-width: 1000px) {
                    font-size: calc(20px + 4vw);
                }
            }

            .style-container {
                padding: 2px;

                .city-style {
                    width: 25% !important;
                    padding: 2px !important;
                    margin: 0;

                    @media (max-width: 860px) {
                        width: 33.33% !important;
                    }
                    @media (max-width: 600px) {
                        width: 50% !important;
                    }

                    .bg-img {
                        padding-top: 90% !important;

                        .mask {
                            background: rgba(0,0,0,0.5) !important;
                            transition: all 0.3s;
                        }

                        .desc-content {
                            display: flex;
                            padding: 4px;
                            transition: all 0.2s;
                        }

                        .style-title-container {
                            .style-title {
                                font-family: var(--font-title);
                                font-size: 32px;

                                @media (max-width: 1500px) {
                                    font-size: calc(11px + 1.4vw);
                                }
                            }
                        }
                    }

                    &:hover {
                        .bg-img {
                            .mask {
                                background: rgba(0,0,0,0) !important;
                            }

                            .desc-content {
                                background: rgba(0,0,0,0.7);
                                top: 0;
                                transform: translate(-50%, 0);
                                transition: all 0.4s;
                            }
                        }
                    }
                }
            }
        }
        &.grid-fashion {
            .style-container {
                .city-style {
                    transition: all 0.2s;

                    .mask {
                        display: block;
                        background-color: #000;
                        opacity: 0;
                        transition: inherit;
                    }

                    & > .style-title {
                        transition: inherit;
                    }

                    .info {
                        transition: inherit;
                        display: block;
                        overflow: hidden;

                        .pc-content {
                            display: none;
                        }

                        .read-more {
                            bottom: -20px;
                            opacity: 0;
                            transition: inherit;
                            overflow: hidden;

                            &:before {
                                content: " Search\00a0Now ";
                            }
                        }
                    }

                    &:hover {
                        transition: all 0.4s;

                        .mask {
                            opacity: 0.7;
                        }

                        & > .style-title {
                            display: block;
                            bottom: 64px;
                        }

                        .read-more {
                            bottom: 20px;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}