.page-content {
    .md-house {
        &.template1 {
            .mg-more {
                @extend .rs-button;
            }
        }

        &.template4 {
            .house-grid {
                .house-grid-item {
                    // .house-detail {
                    //     .house-status {
                    //         &.new,
                    //         &.open-house {
                    //             background-color: var(--color-theme);
                    //         }
        
                    //         &.active {
                    //             background-color: $blue;
                    //         }
                    //     }
                    // }

                    &.more-link {
                        a {
                            color: #fff !important;
                            background: transparent;
                            padding: 0.75rem 2rem !important;
                            min-width: 240px;
                            text-transform: uppercase;
                            border: solid 1px #fff;
                            width: auto;
                            height: auto;
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }

    .house-grid-item,
    .house-list-item {
        .house-status {
            font-size: 12px !important;
            height: auto !important;
            line-height: normal;
            padding: 4px 8px;
            border-radius: 0 !important;

            &.new,
            &.open-house {
                background-color: $gold !important;
            }

            &.active,
            &.pending,
            &.contingent {
                background-color: $blue !important;
            }
        }

        .house-mls-logo {
            filter: hue-rotate(-23deg);
        }
    }

    .template1 {
        .house-list-item {
            .detail {
                display: flex;
                flex-direction: column;

                .price-fav {
                    width: 100%;
 
                    .house-price {
                        font-size: 22px;
                        color: $gold;
                    }
                    
                    .house-tag {
                        border: solid 1px $charcoal;
                        border-radius: 0;
                        background: transparent;
                        color: $charcoal;
                    }
                }

                .house-address {
                    font-size: 16px;
                    margin-bottom: 10px;
                }

                .property {
                    width: 100%;
                    margin-bottom: 10px;
                    margin-top: auto;

                    .small-logo {
                        height: auto;
                    }
                }
            }
        }
    }
}