.page-content {
    .md-house {
        &.template1 {
            .mg-more {
                @extend .rs-button;
            }
        }

        &.template4 {
            .house-grid {
                .house-grid-item {
                    // .house-detail {
                    //     .house-status {
                    //         &.new,
                    //         &.open-house {
                    //             background-color: var(--color-theme);
                    //         }
        
                    //         &.active {
                    //             background-color: $blue;
                    //         }
                    //     }
                    // }

                    &.more-link {
                        a {
                            color: #fff !important;
                            background: transparent;
                            padding: 0.75rem 2rem !important;
                            min-width: 240px;
                            text-transform: uppercase;
                            border: solid 1px #fff;
                            width: auto;
                            height: auto;
                            max-width: 100%;
                        }
                    }
                }
            }

            .house-list {
                .header,
                .house-detail {
                    & > p.address,
                    & > p.price,
                    & > p.configure,
                    & > p.house-basic,
                    & > p.status,
                    & > p.property {
                        width: auto;
                        margin-right: 20px;
                        padding: 0;
                    }
                    & > p.address {
                    }
                    & > p.price {
                        width: auto;
                        margin-right: 20px;
                        padding: 0;

                        @media (min-width: 1081px) {
                            max-width: 100px;
                            min-width: 100px;
                        }
                    }
                    & > p.configure,
                    & > p.house-basic {
                        @media (min-width: 1081px) {
                            max-width: 150px;
                            min-width: 150px;
                        }
                    }
                    & > p.status {
                        @media (min-width: 1081px) {
                            max-width: 150px;
                            min-width: 150px;
                        }
                    }
                    & > p.property {
                        margin-right: 0;

                        @media (min-width: 1081px) {
                            max-width: 150px;
                            min-width: 150px;
                        }
                    }
                }
                .house-list-item {
                    .house-detail {
                        align-items: flex-start;
                        padding: 10px 0;
                        border-top: solid 1px #f6f6f6;
                        border-bottom: none;
                        
                        & > p {
                            color: #666;
                        }

                        .house-basic {
                            color: #666;
                        }
                    }

                    &:first-of-type,
                    &:hover + .house-list-item .house-detail {
                        border-top-color: transparent;
                    }
                }
            }
        }
    }

    .house-grid-item,
    .house-list-item {
        .house-status {
            font-family: var(--font-title) !important;
            font-size: 15px !important;
            letter-spacing: 0.05em !important;
            height: auto !important;
            line-height: normal !important;
            padding: 3px 12px 1px !important;
            border-radius: 5px !important;

            &.new,
            &.open-house {
                background-color: $gold !important;
            }

            &.active,
            &.pending,
            &.contingent {
                background-color: $blue !important;
            }

            &.coming-soon {
                background-color: rgba(255,255,255,0.3) !important;
                border: solid 1px #fff !important;
                color: #fff !important;
            }
        }

        .house-mls-logo,
        .provided .small-logo {
            filter: hue-rotate(-23deg);
        }
    }

    .template1 {
        .house-grid-item,
        .house-list-item {
            .detail .price-fav .house-tag,
            .house-footer .property .house-tag {
                border: solid 1px $charcoal;
                border-radius: 0;
                background: transparent;
                color: $charcoal;
            }
        }

        .house-list-item {
            .detail {
                display: flex;
                flex-direction: column;

                .price-fav {
                    width: 100%;
 
                    .house-price {
                        font-size: 22px;
                        color: $gold;
                    }
                }

                .house-address {
                    font-size: 16px;
                    margin-bottom: 10px;
                }

                .property {
                    width: 100%;
                    margin-bottom: 10px;
                    margin-top: auto;

                    .small-logo {
                        height: auto;
                    }
                }
            }
        }

        .house-grid {
            &.template1.small {
                padding-top: 10px;
            }

            .house-grid-item {
                box-shadow: 0 2px 16px -2px rgba(0,0,0,0.2);
                border: none !important;
                transition: all 0.2s;

                &:hover {
                    transform: scale(1.02);
                    box-shadow: 0 5px 17px 0px rgba(0,0,0,0.25);
                    transition: all 0.4s;
                }

                .price-fav {
                    .house-price {
                        font-size: 22px !important;
                        color: $gold !important;
                    }
                }

                .house-basic {
                    border: none;
                }

                .house-footer {
                    .house-address {
                        font-size: 16px;
                        font-family: var(--font-normal);
                        text-decoration: none;
                    }

                    .house-provided {
                        margin-bottom: 8px;
                    }

                    .property {
                        position: static;

                        .small-logo {
                            width: 90px;
                            height: auto;
                        }

                        .placeholder:empty {
                            display: none;
                        }

                        .fav-icon {
                            position: absolute;
                            top: -4px;
                            right: 10px;
                            transform: translateY(-100%);
                        }
                    }
                }
            }
        }
    }

    .template4 {
        &.house-grid-item {
            .house-preview {
                .icon-fav {
                    .icon-heart-fill {
                        font-size: 20px;
                    }

                    &:not(.collected) {
                        .icon-heart-fill {
                            color: rgba(255,255,255,0.5);
                        }
                    }
                }
            }
            .house-detail {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
    
                .house-price {
                    min-width: 100%;
                }

                .house-mls-logo {
                    align-self: flex-end;
                    margin-left: 10px;
                }
            }
        }
    }
}