.page-content {
    .uk-tab {
        background: #ddd;
        margin-left: 0;

        & > * {
            padding-left: 0;

            &:not(:first-child) {
                border-left: solid 1px #eee;
            }
        }
    
        li {
            background-color: var(--color-theme);
            position: relative;
            transition: background-color 0.3s;

            &:before {
                content: '';
                display: block;
                width: 0px;
                height: 0px;
                position: absolute;
                top: 100%;
                left: 50%;
                border-left: solid 15px transparent;
                border-right: solid 15px transparent;
                transform: translateX(-50%);
                transition: all 0.3s;
            }

            a {
                @extend .font-family--title;
                font-size: 22px;
                color: black;
                min-height: 48px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 16px 32px 14px;
                line-height: 0.9;
                position: relative;
                z-index: 2;
            }
            @media (max-width: $breakpoint-s - 1) {
                flex: 1 1 auto;
                
                a {
                    font-size: 20px;
                    padding: 12px 12px 10px; 
                }
            }

            &.uk-active {
                background-color: #eee;

                &:before {
                    border-top: solid #eee 15px;
                }

                a {
                    color: #666;
                    border: none;

                }
            }
        }
    }
}