.page-content {
    .md-team {
        &.carousel-fashion {
            .agents-container {
                .agent-list {
                    .agent-item {
                        .agent-main {
                            .agent-info {
                                background-color: rgba(0,0,0,0.7);

                                & > * {
                                    transform: translateY(20px);
                                    opacity: 0;
                                    transition: all 0.2s;
                                }

                                .info-name {
                                    font-family: var(--font-title);
                                }

                                .pos-li {
                                    margin-top: 0;
                                }

                                .license {
                                    display: none;
                                }
                            }

                            &:hover {
                                .agent-info {
                                    & > * {
                                        transform: none;
                                        opacity: 1;
                                        transition: all 0.4s;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &:not(.carousel-fashion) {
            .agents-list {
                margin-left: -10px;
                margin-right: -10px;
                justify-content: center !important;
            }
            .agent-item {
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 0 !important;
        
                &.empty {
                    display: none !important;
                }
        
                @media (min-width: 601px) {
                    width: 50% !important;
                }
                
                @media (min-width: 901px) {
                    width: 33.333% !important;
                }
        
                .agent-img {
                    position: relative !important;
                    padding-bottom: 125%;
                }
        
                .info {
                    transition: all 0.3s;
                    padding: 20px !important;
        
                    &-text {
                        &.agent-position {
                            margin-bottom: 20px;
                        }
        
                        &.agent-name {
                            order: -1;
                            margin-bottom: 0 !important;
                            letter-spacing: $title-letter-spacing;
                        }
                    }
                }
                
                &:hover {
                    .info {
                        height: 100% !important;
                        justify-content: center !important;
                        background: rgba(0,0,0,0.5);
                        transition: height 0.4s, background 0.4s ease 0.2s;
                    }
                }
        
                @media (max-width: 900px) AND (min-width: 601px) {
        
                }
            }
        }
    
        &.multi-column-info-over-img {
            & + .md-team.multi-column-info-over-img {
                padding-top: 0 !important;
            }
        }
    
    }
    .md-team-desc {
        &.team-desc-simple {
            .team-desc-content {
                margin-bottom: 0 !important;
                background-color: $gray-lt;
                
                .description:empty {
                    display: none;
                }
            }

            .desc-content[role="img"][aria-label=""] {
                display: none;
            }
    
            .intro-desc {

                .view-more-container {
                    .view-more-content {
                        max-width: 700px;
                        padding-top: 20px;
                        padding-bottom: 8px;
                        margin-left: auto;
                        margin-right: auto;

                        p {
                            &:not(:last-child) {
                                margin-bottom: 1rem;
                            }
                        }

                        a {
                            text-decoration: underline;
                            color: darken($gold, 50%);

                            &:hover {
                                color: $gold;
                            }
                        }

                        @media (max-width: 800px) {
                            padding-top: 24px;
                            padding-bottom: 24px;
                        }
                    }
                }
                .desc-list {
                    height: auto;
                    box-shadow: 0 2px 12px 0px rgba(0,0,0,0.1);
                    border-left: none;
                    border-right: none;
                    border-bottom: none;
    
                    @media (min-width: 801px) {
                        align-items: flex-start;
                        width: calc(100vw - 80px);
                        max-width: 1400px;
                    }

                    @media (max-width: 800px) {
                        align-items: stretch;
                    }
    
                    .item {
                        padding-top: 32px;
                        padding-bottom: 32px;
                        height: auto;
    
                        &:not(:first-of-type) {
                            &:before {
                                top: 42px;
                                bottom: 42px;
                            }
                        }
    
                        .number {
                            line-height: 36px;

                            @media (min-width: 1201px) {
                                font-size: 48px;
                                line-height: 48px;
                            }
                            
                            @media (max-width: 800px) {
                                font-size: 32px;
                                line-height: 32px;
                            }

                            &[title="★★★★★"] {
                                font-size: 20px;

                                @media (min-width: 801px) {
                                    font-size: 24px;
                                }

                                @media (min-width: 1201px) {
                                    font-size: 32px;
                                }
                            }
                        }
    
                        .text {
                            white-space: normal;
                            text-overflow: initial;
                            line-height: initial;
                            color: $charcoal;
                        }
                    }
                }
            }
        }

        .md-hero + & {
            z-index: 2;
        }
    }
}