body:not(.reviews) {
    .md-testimonial {
        &.flow-classic {
            .comment-card {
                background-color: $gray-lt;
                filter: hue-rotate(180deg);

                .footer {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    filter: hue-rotate(-180deg);

                    & > img {
                        margin-top: 0;
                        width: 120px;
                        height: 120px;
                        border-radius: 100%;
                    }
                }
            }
        }
        &.grid-progressive  {
            padding-bottom: 90px;

            .title-container {
                position: static !important;
            }
            .mg-more {
                position: absolute;
                bottom: 60px;
                left: 50%;
                transform: translateX(-50%);
                justify-content: center;
                @extend .rs-button;

                .text {
                    margin-right: 0;
                    text-align: center;
                }
                
                .iconfont {
                    display: none;
                }
            }

            .testimonial-list {
                margin-top: 0;
                padding-left: 0;

                @media (min-width: 601px) {
                    display: flex;

                    .testimonial-item {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    }
                }

                .testimonial-item {
                    background-color: $gray-lt;
                    filter: hue-rotate(180deg);
                    height: auto;
    
                    .zillow-container,
                    .testimonial-content {
                        filter: hue-rotate(-180deg);
                    }
                    .testimonial-context-empty-pic,
                    .testimonial-name {
                        color: #515666;
                    }
                    .testimonial-container {
                        height: auto;

                        .zillow-container {
                            top: 20px;
                        }
                        .testimonial-context-empty-pic {
                            position: static;
                            margin-top: 76px;
                            max-height: 210px;
                        }
                    }
                    .testimonial-content {
                        display: flex;
                        flex-direction: row-reverse;
                        justify-content: space-between;
                        align-items: flex-end;
    
                        .intro-left {
                            margin-right: 0;

                            @media (max-width: 767px) AND (min-width: 601px) {
                                display: none;
                            }
                        }
    
                        .intro-right {
                            .testimonial-name {
                                font-size: 16px;
    
                                line-height: 1.25;
                                font-family: var(--font-medium);
                            }
                            
                            .testimonial-score {
                                span,
                                a {
                                    font-size: 14px;
                                    margin-right: 6px;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.slider-standard {
            .testimonial-frame {
                &:not([role="img"]) {
                    .testimonial-container {
                        .testimonial-swiper {
                            .testimonial {
                                .testimonial-item-container {
                                    background-color: $gray-lt;
                                }
                            }
                        }
                    }
                }
                .testimonial-container {
                    .testimonial-swiper {
                        .testimonial {
                            padding-bottom: 0 !important;

                            p {
                                opacity: 0.8;
                            }

                            &:before {
                                top: 20px;
                                left: 24px;
                                filter: hue-rotate(180deg);
                            }

                            .testimonial-item-container {
                                .testimonial-body {
                                    font-family: var(--font-normal);
                                    font-weight: normal !important;
                                }

                                .testimonial-footer {
                                    margin-top: 0;
                                    height: auto;
                                    align-items: center;
                                    flex-wrap: wrap;

                                    @media (max-width: 960px) AND (min-width: 601px) {
                                        
                                    }

                                    .testimonial-picture {
                                        width: 120px;
                                        height: 120px;
                                        margin-right: 30px;
                                    }

                                    & > div:not(.testimonial-picture) {
                                        &:only-child {
                                            padding-left: 150px;
                                        }
                                    }

                                    .testimonial-star .icon-star-fill {
                                        font-size: 24px;
                                        color: var(--color-theme);
                                    }

                                    .testimonial-name {
                                        font-weight: bold;
                                    }

                                    @media (max-width: 960px) AND (min-width: 601px) {
                                        & > div:not(.testimonial-picture) {
                                            margin-top: 20px;
                                            min-width: 100%;

                                            &:only-child {
                                                padding-top: 120px;
                                                padding-left: 0px;
                                            }
                                        }
                                    }
                                }
                            }

                            .zillow-container {
                                position: absolute;
                                left: 40px;
                                bottom: 40px;
                                width: 120px;
                                height: 120px;
                                border-radius: 100%;
                                border: 8px solid var(--color-theme);
                                background: #fff;

                                img {
                                    object-fit: contain;
                                    font-family: "object-fit: contain";
                                    width: 80px;
                                    height: 24px;
                                    left: 50%;
                                    top: 48%;
                                    transform: translate(-50%, -50%);
                                    position: absolute;
                                }

                                @media (max-width: 960px) AND (min-width: 601px) {
                                    bottom: 130px;
                                }
                            }
                        }
                    }
                }

                .testimonial-container {
                    .prevbutton,
                    .nextbutton {
                        width: 70px;
                        height: 90px;
                        top: calc(50% + 29px);
                        background: #fff;
                        box-shadow: 1px 1px 10px 0px rgb(0 0 0 / 5%);

                        &:before {
                            content: "";
                            width: 24px;
                            height: 24px;
                            border: 8px solid var(--color-theme);
                        }

                        @media (max-width: 1000px) {
                            width: 7vw;
                            height: 9vw;

                            &:before {
                                width: 2.4vw;
                                height: 2.4vw;
                                border-width: calc(4px + 0.4vw);
                            }
                        }
                    }

                    .prevbutton {
                        left: calc(12.5% - 12.5vw);
                        transform: translate(-50%, -50%);

                        &:before {
                            border-top: none;
                            border-right: none;
                            transform: translate(-30%, -50%) rotate(45deg);
                        }
                    }

                    .nextbutton {
                        right: calc(12.5% - 12.5vw);
                        transform: translate(50%, -50%);

                        &:before {
                            border-bottom: none;
                            border-left: none;
                            transform: translate(-70%, -50%) rotate(45deg);
                        }
                    }
                }
            }
        }
    }
}
.page-content {
    .md-testimonial {
        &.list-standard {
            padding-bottom: 140px;
    
            .title-container {
                position: static !important;
            }
            .mg-more {
                position: absolute;
                bottom: 60px;
                left: 50%;
                transform: translateX(-50%);
                justify-content: center;
                @extend .rs-button;

                .text {
                    margin-right: 0;
                    text-align: center;
                }
                
                .iconfont {
                    display: none;
                }
            }
    
            .comment-list-wrap .comment-list .odd .testimonial-picture {
                @media (min-width: 601px) {
                    margin-right: 0 !important;
                }
            }
        }

        &.slider-standard {
            .testimonial-frame {
                .testimonial-container {
                    .testimonial-swiper {
                        .testimonial {
                            .testimonial-item-container {
                                background: rgba(255,255,255,0.9);

                                .testimonial-body,
                                .testimonial-footer .testimonial-name {
                                    color: #222;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}