body:not(.reviews) {
    .md-testimonial {
        &.flow-classic {
            .comment-card {
                background-color: $gray-lt;
                filter: hue-rotate(180deg);

                .footer {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    filter: hue-rotate(-180deg);

                    & > img {
                        margin-top: 0;
                        width: 120px;
                        height: 120px;
                        border-radius: 100%;
                    }
                }
            }
        }
    }
}
.page-content {
    .md-testimonial {
        &.list-standard {
            padding-bottom: 140px;
    
            .title-container {
                position: static !important;
        
                .mg-more {
                    position: absolute;
                    bottom: 60px;
                    left: 50%;
                    transform: translateX(-50%);
                    justify-content: center;
                    @extend .rs-button;
    
                    .text {
                        margin-right: 0;
                        text-align: center;
                    }
                    
                    .iconfont {
                        display: none;
                    }
                }
            }
    
            .comment-list-wrap .comment-list .odd .testimonial-picture {
                @media (min-width: 601px) {
                    margin-right: 0 !important;
                }
            }
        }

        &.slider-standard {
            .testimonial-frame {
                .testimonial-container {
                    .testimonial-swiper {
                        .testimonial {
                            .testimonial-item-container {
                                background: rgba(255,255,255,0.9);

                                .testimonial-body,
                                .testimonial-footer .testimonial-name {
                                    color: #222;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}