@import 'typography';

body {
    overflow-x: hidden;
    .mg-title {
        text-overflow: initial;
        white-space: initial;

        * {
            text-overflow: initial;
            white-space: initial;
        }
    }

    main {
        margin-top: 81px;
    }
}