@import 'typography';

body {
    overflow-x: hidden;
    .mg-title {
        text-overflow: initial;
        white-space: initial;

        * {
            text-overflow: initial;
            white-space: initial;
        }
    }

    .page-content {
        * {
            box-sizing: border-box;
        }
    }
}