*[style*="font-family: var(--font-title)"] {
    letter-spacing: $title-letter-spacing;
}

*.mg-title {
    font-weight: normal;
}

.text {
	&-align {
		&--center {
			text-align: center;
		}
	}
}

.font {
    &-family {
        &--title {
            font-family: var(--font-title);
            font-weight: normal;
            letter-spacing: $title-letter-spacing;
        }
    }

    &-size {
        &--s {
            font-size: 1rem;
        }

        &--m {
            font-size: 1.25rem;
        }

        &--l {
            font-size: 1.5rem;
        }

        &--xl {
            font-size: 2rem;
        }
    }

    &-color {
        &--theme {
            color: var(--color-theme);
        }
    }
}