*[style*="font-family: var(--font-title)"] {
    letter-spacing: $title-letter-spacing;
    font-weight: normal;
}

*.mg-title {
    font-weight: normal;
}

body {
    font-family: var(--font-normal);
}

.text {
	&-align {
		&--center {
			text-align: center;
		}
	}
}

.font {
    &-smooth {
        -webkit-font-smoothing: antialiased;
    }

    &-family {
        &--title {
            font-family: var(--font-title);
            font-weight: normal;
            letter-spacing: $title-letter-spacing;
            line-height: 1;
        }
    }

    &-size {
        &--xs {
            font-size: 0.875rem;
        }

        &--s {
            font-size: 1rem;
        }

        &--m {
            font-size: 1.25rem;
        }

        &--l {
            font-size: 1.5rem;

            @media (max-width: 1000px) {
                font-size: calc(14px + 1vw);
            }
        }

        &--xl {
            font-size: 2rem;
            
            @media (max-width: 1000px) {
                font-size: calc(16px + 1.6vw);
            }
        }

        &--xxl {
            font-size: 3rem;
            
            @media (max-width: 1000px) {
                font-size: calc(24px + 2vw);
            }
        }

        &--xxxl {
            font-size: 4rem;

            @media (max-width: 1000px) {
                font-size: calc(24px + 4vw);
            }
        }

        &--xxxxl {
            font-size: 4.5rem;
            padding-top: 0.1em;
            line-height: 0.7;

            @media (max-width: 1000px) {
                font-size: calc(24px + 4.8vw);
            }
        }

        &--xxxxxl {
            font-size: 5.75rem;
            padding-top: 0.1em;
            line-height: 0.7;

            @media (max-width: 1000px) {
                font-size: calc(24px + 6.8vw);
            }
        }
    }

    &-color {
        &--theme {
            color: var(--color-theme) !important;
        }

        &--gray {
            color: $gray !important;
        }

        &--black {
            color: #000 !important;
        }
        
        &--light {
            color: #ccc !important;
        }
        
        &--white {
            color: #fff !important;
            // -webkit-font-smoothing: antialiased;

            // * {
            //     -webkit-font-smoothing: antialiased;
            // } 
        }
    }

    &-weight {
        &--normal {
            font-weight: normal !important;
        }
    }
}

.letter-spacing {
    &--0 {
        letter-spacing: 0 !important;
    }
}

.currency {
    &:before {
        content: "$";
    }
}

a.font-color--white {
    &:hover {
        color: var(--color-theme);
    }
}

hr {
    &.short {
        border-width: 3px;
        max-width: 72px;
    }

    &.color-theme {
        border-color: var(--color-theme);
    }

    &.color-gray {
        border-color: $gray;
    }
}

.page-content {
    a {
        color: var(--color-theme);
    
        &:hover {
            color: var(--color-theme);
        }
    }
}