*[style*="font-family: var(--font-title)"] {
    letter-spacing: $title-letter-spacing;
    font-weight: normal;
}

*.mg-title {
    font-weight: normal;
}

body {
    font-family: var(--font-normal);
}

.text {
	&-align {
		&--center {
			text-align: center;
		}
	}
}

.font {
    &-family {
        &--title {
            font-family: var(--font-title);
            font-weight: normal;
            letter-spacing: $title-letter-spacing;
            line-height: 1;
        }
    }

    &-size {
        &--s {
            font-size: 1rem;
        }

        &--m {
            font-size: 1.25rem;
        }

        &--l {
            font-size: 1.5rem;
        }

        &--xl {
            font-size: 2rem;
        }

        &--xxl {
            font-size: 3rem;
            
            @media (max-width: 1000px) {
                font-size: calc(24px + 2vw);
            }
        }

        &--xxxl {
            font-size: 4rem;

            @media (max-width: 1000px) {
                font-size: calc(24px + 4vw);
            }
        }

        &--xxxxl {
            font-size: 6rem;
            padding-top: 0.1em;
            line-height: 0.7;

            @media (max-width: 1000px) {
                font-size: 9.6vw;
            }
        }
    }

    &-color {
        &--theme {
            color: var(--color-theme);
        }

        &--black {
            color: #000;
        }
        
        &--light {
            color: #ccc;
        }
        
        &--white {
            color: #fff;
        }
    }
}

a.font-color--white {
    &:hover {
        color: $gold;
    }
}

hr {
    &.short {
        border-width: 3px;
        max-width: 72px;
    }

    &.color-theme {
        border-color: var(--color-theme);
    }
}