$breakpoint-s:  601px;
$breakpoint-l:  901px;

$breakpoints: (
	's': $breakpoint-s,
	'l': $breakpoint-l,
);

$sizes: (
	'remove': 0 !important,
	's':      10px,
	'm':      20px,
	'l':      30px,
	'xl':     60px,
	'xxl':    90px,
	'none':   0 !important
);

$sides: (
	'left',
	'right',
	'top',
	'bottom'
);