$gold: #ffc03a;

$pinstripes: repeating-linear-gradient(110deg, #222 0, #222 60px, #444 60px, #444 61px);

$transition: all 0.3s;

$breakpoint-s:  601px;
$breakpoint-l:  901px;

$breakpoints: (
	's': $breakpoint-s,
	'l': $breakpoint-l,
);

$sizes: (
	'remove': 0 !important,
	's':      10px,
	'm':      20px,
	'l':      30px,
	'xl':     60px,
	'xxl':    90px,
	'none':   0 !important
);

$sides: (
	'left',
	'right',
	'top',
	'bottom'
);