$charcoal: #222;
// $gray-lt: #f0f0f0;
$gray-lt: #f8f8f8;
$gold: #ffc03a;
$blue: #2C74A0;
$blue-lt: #91c5e0;

$linen: url('https://cdn.chime.me/image/fs/cmsbuild/2021527/8/original_604cbbdd-6145-4031-9a4b-5a1627393900.png') !important;
$marble: url('https://cdn.chime.me/image/fs/cmsbuild/2021527/7/original_ae1de395-0aa0-43e4-a92e-f7b080f8d6c0.png') !important;

$pinstripes: repeating-linear-gradient(110deg, #222 0, #222 60px, #444 60px, #444 61px);
$title-letter-spacing: 0.05em;

$transition: all 0.3s;

$breakpoint-s:  601px;
$breakpoint-l:  901px;

$breakpoints: (
	's': $breakpoint-s,
	'l': $breakpoint-l,
);

$sizes: (
	'remove': 0 !important,
	's':      10px,
	'm':      20px,
	'l':      30px,
	'xl':     60px,
	'xxl':    90px,
	'none':   0 !important
);

$sides: (
	'left',
	'right',
	'top',
	'bottom'
);

.invisible {
	position: absolute !important;
	left: -200vw !important;
	visibility: hidden !important;
}